

  <head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#E6E6FA">
    <meta name="msapplication-TileImage" content="S">
    <meta name="theme-color" content="#E6E6FA">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <noscript>
      <link href="css/main.css" rel="stylesheet">
    </noscript>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>


