<section class="collection">
    <img class="startup_img lazy-img" data-src="img/action.png" alt="Layer">
    <div class="collection-opasiti">
        <div class="general-container">
            <h3 class="collection_title">Do you like OUR WORK so far?<br> Let's talk about YOUR PROJECT!</h3>
            <button class="startup-btn">
                <div class="btn-hov btn-top"></div>
                <div class="btn-hov btn-bottom"></div>
                <div class="btn-hov btn-top"></div>
                <div class="btn-hov btn-bottom"></div>
                <span class="btn-txt">Get in Touch</span>
            </button>
        </div>
    </div>
</section>